
.defaultMap{
    width:70%;
    height: 70%;
    display: inline-flex;
    margin: 0;
}
.dashDiv{
    margin: 0;
    padding: 0;
    position: relative;
}
.leftArea{
    width: 25% !important;
    height:100% !important;
    margin: 0;
    display: inline-flex;
    justify-content:flex-start;
    align-items: center;
    flex-direction: column;
    position: fixed;
    right: 0;
}
.bottomArea{
    width: 53%;
    height: 20%;
    margin: 0;
    display: inline-flex;
    flex-direction: row;
    position: fixed;
    left: 22%;
    top: 72%;
}