
.container{
    border: 1px solid gray;
    display: inline-flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    margin: 5px;
}
.title{
    font-weight: bolder;
    padding: 5px;
}
.Indicator{
    font-size: xx-large;
    font-weight: bold;
    align-self: center;
    margin-top: auto;
    margin-bottom: 40% ;
}